[alias]
  sshow = "!f() { git stash show stash^{/$*} -p; }; f"
  sapply = "!f() { git stash apply stash^{/$*}; }; f"
  ignored = !git ls-files -v | grep "^[[:lower:]]"

  # truncated single-line git log of the last 10 commits
  recent = log --oneline -10
  # Show files ignored by git:
  ign = ls-files -o -i --exclude-standard

  # Unstage any files that have been added to the staging area
  unstage = reset HEAD

  # Show changes that have been staged
  dfc = df --cached

[help]
  autocorrect = 1
[color]
  ui = auto
[apply]
  whitespace = fix
[core]
  excludesfile = ~/.gitignore
  attributesfile = ~/.gitattributes
  whitespace = fix,space-before-tab,tab-in-indent,trailing-space
  autocrlf = false
  editor = nvim
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
[color "status"]
  added = yellow
  changed = green
  untracked = cyan
[merge]
  log = true
[url "git@github.com:"]
  insteadOf = "gh:"
  pushInsteadOf = "github:"
  pushInsteadOf = "git://github.com/"
[url "git://github.com/"]
  insteadOf = "github:"
[url "git@gist.github.com:"]
  insteadOf = "gst:"
  pushInsteadOf = "gist:"
  pushInsteadOf = "git://gist.github.com/"
[url "git://gist.github.com/"]
  insteadOf = "gist:"

# Any GitHub repo with my username should be checked out r/w by default
# http://rentzsch.tumblr.com/post/564806957/public-but-hackable-git-submodules
[url "git@github.com:jfoo1984/"]
  insteadOf = "git://github.com/jfoo1984/"

[push]
  default = tracking
[diff]
  renames = copies
[rerere]
  enabled = true
[user]
  name = Jerry Fu
  email = 2072627+jfoo1984@users.noreply.github.com

[credential]
  helper = osxkeychain

[filter "media"]
  required = true
  clean = git media clean %f
  smudge = git media smudge %f

[pager]
  diff = diff-so-fancy | less --tabs=1,5 -RFX
  show = diff-so-fancy | less --tabs=1,5 -RFX
